.errorWrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	&.fullScreen {
	height: calc(100vh - 120px);
	flex-direction: column;
}
}

.error {
	display: block;
	color: #fff;
	padding: 12px 16px;
	border-radius: 8px;
	font-size: 14px;
}


