.controls {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	margin-bottom: 30px;
}


.filters {
	display: flex;
	gap: 15px;
}

.searchBar {
	margin-bottom: 30px;
}


.articleGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}