
.searchBar {
	margin-bottom: 50px;
}

.filters {
	display: flex;
	gap: 15px;
}

.controls {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	margin-bottom: 60px;
}


.articleGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}