.searchBar {
	margin-bottom: 50px;
}

.controls {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	margin-bottom: 50px;
}

.articleGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

.paginationContainer {
	margin: 40px 0;
	display: flex;
	justify-content: center;
}
