.card {
	background-color: #1e1e1e;
	color: #fff;
	border-radius: 8px;
	overflow: hidden;
	padding: 16px;
	transition: transform 0.3s ease;
	cursor: pointer;
	border: 1px solid transparent;

	display: grid;
	grid-auto-flow: row;
	grid-template: 1fr minmax(200px, 220px) auto/ 1fr;
	row-gap: 20px;
	&:hover {
		border: 1px solid #727272;
	}
}

.cardContent {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr auto auto / 1fr;
	row-gap: 10px;
}

.textClamp {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.title {
	max-width: 100%;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
	@extend .textClamp;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	max-height: calc(1.4em * 3);
}

.trailText {
	color: #aaa;

	@extend .textClamp;
	line-clamp: 2;
	-webkit-line-clamp: 2;
}

.section {
	font-size: 11px;
	color: yellow;
}

.date {
	@extend .section;

	display: block;
	text-align: right;
	color: #aaa;
}

.imageContainer {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 8px;
	}
}
